.productlist-container
{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 50vw; 
    border: 1px solid gainsboro;
    padding-top: 5px;
   
    /* //margin-bottom: 20px; */
    /* margin-top: 100px; */
}
